# Finding the Minimum, Maximum, Sum, Average, and Count

## commonly used descriptive statistics

In [2]:
import pandas as pd

url = 'https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/titanic.csv'

df = pd.read_csv(url)
df.head(2)

                           Name PClass   Age     Sex  Survived  SexCode
0  Allen, Miss Elisabeth Walton    1st  29.0  female         1        1
1   Allison, Miss Helen Loraine    1st   2.0  female         0        1

In [3]:
df["Age"].mean()

30.397989417989418

In [5]:
df["Survived"].count()

1313

In [13]:
df["Age"].sum()

22980.88

In [15]:
df["Age"].max()

71.0

In [16]:
df["Age"].min()

0.17

In [21]:
df.count() # can be used to find missing values

Name        1313
PClass      1313
Age          756
Sex         1313
Survived    1313
SexCode     1313
dtype: int64