# Finding Unique Values

In [1]:
import pandas as pd

url = 'https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/titanic.csv'

df = pd.read_csv(url)
df.head(2)

                           Name PClass   Age     Sex  Survived  SexCode
0  Allen, Miss Elisabeth Walton    1st  29.0  female         1        1
1   Allison, Miss Helen Loraine    1st   2.0  female         0        1

In [5]:
df.Sex.unique()

array(['female', 'male'], dtype=object)

## value_counts will display all unique values with the number of times each value appears

In [6]:
df.Sex.value_counts()

male      851
female    462
Name: Sex, dtype: int64

In [7]:
df.PClass.unique()

array(['1st', '2nd', '*', '3rd'], dtype=object)

In [8]:
df.PClass.value_counts()

3rd    711
1st    322
2nd    279
*        1
Name: PClass, dtype: int64

In [9]:
df.PClass.nunique()

4