# Grouping Rows by Time

In [1]:
import pandas as pd
import numpy as np

In [2]:
time_index =pd.date_range('06/06/2022',periods=100000,freq='30S')

In [4]:
df =pd.DataFrame(index=time_index)

In [6]:
df["sale_amount"] = np.random.randint(1,10,100000)

In [7]:
df.sample(5)

                     sale_amount
2022-07-06 00:38:30            4
2022-07-10 08:47:30            2
2022-06-18 04:41:00            8
2022-06-18 02:18:00            5
2022-06-22 11:28:00            2

In [8]:
df.resample('W').sum()

            sale_amount
2022-06-12       100299
2022-06-19       100338
2022-06-26        99961
2022-07-03       100421
2022-07-10        96574

# Personally speaking meko ye google karna

# itte ache se ye samajh aya nhi