# Looping Over a Column

In [1]:
import pandas as pd

url = 'https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/titanic.csv'

df = pd.read_csv(url)
df.head(2)

                           Name PClass   Age     Sex  Survived  SexCode
0  Allen, Miss Elisabeth Walton    1st  29.0  female         1        1
1   Allison, Miss Helen Loraine    1st   2.0  female         0        1

In [3]:
for name in df.Name[0:7]:
    print (name.upper())

ALLEN, MISS ELISABETH WALTON
ALLISON, MISS HELEN LORAINE
ALLISON, MR HUDSON JOSHUA CREIGHTON
ALLISON, MRS HUDSON JC (BESSIE WALDO DANIELS)
ALLISON, MASTER HUDSON TREVOR
ANDERSON, MR HARRY
ANDREWS, MISS KORNELIA THEODOSIA

In [4]:
[ name.upper() for name in df.Name[0:7]]

['ALLEN, MISS ELISABETH WALTON',
 'ALLISON, MISS HELEN LORAINE',
 'ALLISON, MR HUDSON JOSHUA CREIGHTON',
 'ALLISON, MRS HUDSON JC (BESSIE WALDO DANIELS)',
 'ALLISON, MASTER HUDSON TREVOR',
 'ANDERSON, MR HARRY',
 'ANDREWS, MISS KORNELIA THEODOSIA']

# Despite the temptation to fall back on for loops, a more Pythonic solution would use pandasâ€™ apply method, described in the next recipe.