# Handling Missing Data in Time Series

In addition to the missing data strategies previously discussed, when we have time
series data we can use interpolation to fill in gaps caused by missing values:

In [2]:
# Load libraries
import pandas as pd
import numpy as np
# Create date
time_index = pd.date_range("01/01/2010", periods=5, freq="M")
# Create data frame, set index
dataframe = pd.DataFrame(index=time_index)
# Create feature with a gap of missing values
dataframe["Sales"] = [1.0,2.0,np.nan,np.nan,5.0]
# Interpolate missing values
dataframe.interpolate()

            Sales
2010-01-31    1.0
2010-02-28    2.0
2010-03-31    3.0
2010-04-30    4.0
2010-05-31    5.0

Alternatively, we can replace missing values with the last known value (i.e., forwardfilling):

In [3]:
# Forward-fill
dataframe.ffill()

            Sales
2010-01-31    1.0
2010-02-28    2.0
2010-03-31    2.0
2010-04-30    2.0
2010-05-31    5.0

We can also replace missing values with the latest known value (i.e., back-filling):

In [4]:
# Back-fill
dataframe.bfill()

            Sales
2010-01-31    1.0
2010-02-28    2.0
2010-03-31    5.0
2010-04-30    5.0
2010-05-31    5.0