# Selecting Dates and Times

In [1]:
# Load library
import pandas as pd

# Create data frame
dataframe = pd.DataFrame()

# Create datetimes
dataframe['date'] = pd.date_range('1/1/2001', periods=100000, freq='H')

# Select observations between two datetimes
dataframe[(dataframe['date'] > '2002-1-1 01:00:00') &
 (dataframe['date'] <= '2002-1-1 04:00:00')]

                    date
8762 2002-01-01 02:00:00
8763 2002-01-01 03:00:00
8764 2002-01-01 04:00:00

# AlternatiVely

In [2]:
# Set index
dataframe = dataframe.set_index(dataframe['date'])

In [3]:
# Select observations between two datetimes
dataframe.loc['2002-1-1 01:00:00':'2002-1-1 04:00:00']

                                   date
date
2002-01-01 01:00:00 2002-01-01 01:00:00
2002-01-01 02:00:00 2002-01-01 02:00:00
2002-01-01 03:00:00 2002-01-01 03:00:00
2002-01-01 04:00:00 2002-01-01 04:00:00

Whether we use boolean conditions or index slicing is situation dependent. If we
wanted to do some complex time series manipulation, it might be worth the overhead
of setting the date column as the index of the DataFrame, but if we wanted to do
some simple data wrangling, the boolean conditions might be easier.