# **Pandas-पुस्तकम्:**

## Data structures
Pandas provides two very useful data structures to process the data i.e. Series and DataFrame, which are discussed
in this section.

### Series
The Series is a one-dimensional array that can store various data types, including mix data types. The row labels
in a Series are called the index. Any list, tuple and dictionary can be converted in to Series using ‘series’ method
as shown below

In [1]:
import pandas as pd

In [2]:
t = (1,2,3,4,'a')
s = pd.Series(t)

type(s)

pandas.core.series.Series

In [3]:
print(s)

0    1
1    2
2    3
3    4
4    a
dtype: object

In [4]:
dic = {'name':'himanshu',
       'roll number': 16}

s2 = pd.Series(dic)
print(s2)

name           himanshu
roll number          16
dtype: object

Note that in the tuple-conversion, the index are set to ‘0, 1, 2 and 3’. We can provide custom index names as
follows.

In [5]:
l = ['himanshu','abhishek','avnish']
s3 = pd.Series(l, index=[16,21,33])

print(s3)

16    himanshu
21    abhishek
33      avnish
dtype: object

In [6]:
s3[16]

'himanshu'

### DataFrame
DataFrame is the widely used data structure of pandas. Note that, Series are used to work with one dimensional
array, whereas DataFrame can be used with two dimensional arrays. DataFrame has two different index i.e.
column-index and row-index.
The most common way to create a DataFrame is by using the dictionary of equal-length list as shown below.

In [7]:
data = {'names':['himanshu','harshit'],
        'phone':[123232,23122321]}

df = pd.DataFrame(data)
type(df)

pandas.core.frame.DataFrame

In [8]:
df

      names     phone
0  himanshu    123232
1   harshit  23122321

In [9]:
df['country']='India'

In [10]:
df

      names     phone country
0  himanshu    123232   India
1   harshit  23122321   India

In [11]:
df.index = [1,2]
df

      names     phone country
1  himanshu    123232   India
2   harshit  23122321   India

In [14]:
df = df.set_index(['phone'])

In [15]:
df

             names country
phone
123232    himanshu   India
23122321   harshit   India

In [17]:
df['names']

phone
123232      himanshu
23122321     harshit
Name: names, dtype: object

In [25]:
df.iloc[1]

names      harshit
country      India
Name: 23122321, dtype: object

In [27]:
del df['country']

In [28]:
df

             names
phone
123232    himanshu
23122321   harshit